# python trash
__pycache__/
*.pyc
*.pyo
*.pyd

# virtual environments trash
.venv/
venv/
env/

# editor / OS junk
.vscode/
.idea/
.DS_Store

# logs
wandb
*.log
nohup.out

# project specific ignores
data/raw/
data/processed/
data/raw/.gitkeep
data/processed/.gitkeep
data/scripts/*.mp4
data/scripts/debug_outputs/
data/unglued/
outputs/
checkpoints/
previews/
evaluation/results/

## these files were removed from the repository but are kept locally 
# helper script for running more experiments in parallel
run_ablations.sh 
run_evals.sh

# configs for unused datasets
training/config/atrium-training.yaml
training/config/mot16-training.yaml
data/scripts/configs/params-atrium.yaml
data/scripts/configs/params-mot16.yaml
data/scripts/configs/params-sherbrooke.yaml
evaluation/linear_extrapolation.py
evaluation/mean_trajectory.py